.generalDescription p{
    display: flex;
    margin: 45px ;
    font-size: 20px;
    font-style: italic;
    font-family: fantasy;
    font-weight:100;
}
.categoryTitle{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-size:25px;
    margin-left: 50px;
    text-decoration: underline;
}

.videosDiv{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-bottom: 5px;
    height:auto;
}

.VideoContainer{
    display: flex;
    width: 45%;
    height:min-content;
    margin:10px;
}

.categorylDescription{
    padding-bottom: 30px;
}

.categorylDescription p{
    display: flex;
    margin: 45px ;
    font-size: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(134, 129, 129);
}
